<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<%- include partials/nav.ejs %>
	<div class="container">
		<h1><%= title %></h1>
		<p>View your <%= title %> here</p>
	</div>
</body>

</html>