html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 1rem -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
}

.post-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .post {
  margin: 1rem;
} */

.post > img {
  width: 270px;
  height: 270px;
}
